.outer-chat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 700px;
  margin-top: 60px;
}

.chat-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 700px;
}

.chat-box {
  height: 400px;
  width: 300px;
  word-break: break-word;
  border: 1px solid gray;
  padding: 2px;
  margin-bottom: 4px;
}

.chat-input {
  width: 300px;
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 21px;
}

.input-box {
  width: 250px;
}

.customer-name {
  color: blue;
}

.agent-name {
  font-weight: bold;
  color: black;
}

li {
  list-style: none;
}

.chat-input {
  margin: 0 auto;
}

@-webkit-keyframes blink {
  50% {
    border: 3px solid red;
  }
}

#on {
  border: 1px solid black;
  -webkit-animation: blink .5s step-end infinite alternate;
}

.send-msg {
  margin-left: 5px;
  border-radius: 2px;
}

.send-msg:hover {
  background-color: thistle;
  border-radius: 2px;
}

.instructions li {
  list-style: decimal;
}
