.outer-chat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 700px;
  margin-top: 60px;
  font-family: 'Open Sans', sans-serif;
}

.chat-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 700px;
}

.chat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 400px;
  width: 300px;
  word-break: break-word;
  border: 1px solid lightgray;
  margin-bottom: 4px;
  font-size: 12px;
  background: #ECF2F9;
  border-radius: 11px 11px 0 0;
}

.chat-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 19px;
  border-bottom: 1px solid lightgray;
  height: 35px;
  position:
}

.message {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: inherit;
  margin-bottom: 1px;
  padding: 5px;
  overflow: scroll;
}

.adios {
  align-self: center;
}

.chat-bubble {
  padding: 6px 11px 7px 10px;
  border-radius: 14px;
  max-width: 80%;
  margin-bottom: 1px;
}

#customer {
  display: flex;
  color: white;
  background: #0AA693;
  float: right;
}

#agent {
  display: flex;
  background: white;
  align-self: flex-end;
  float: left;
}

.chat-input {
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 21px;
  padding-bottom: 4px;
  margin: 0 auto;
  margin-top: 3px;
}

.input-box {
  width: 240px;
}

li {
  list-style: none;
}

@-webkit-keyframes blink {
  50% {
    border: 3px solid red;
  }
}

#on {
  border: 1px solid black;
  -webkit-animation: blink .5s step-end infinite alternate;
}

.send-msg {
  margin-left: 5px;
  border-radius: 5px;
}

.send-msg:hover {
  background-color: thistle;
  border-radius: 5px;
}

.instructions li {
  list-style: decimal;
  font-size: 14px;
}
